header {
    width: 100%;
    height: 66px;
    background-color: green;
    background-image: url(../../../static/image/head.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.5);
    position: relative;
}
header>h1 {
    color: white;
    font-size: 30px;
    line-height: 66px;
    font-weight: bold;
    display: inline-block;
}
button {
    width: 115px;
    height: 49px;
    background-image: url(../../../static/image/fanhui.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 34px;
    top: 8px;
}
